server:
  port: 9000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/taco_db
    username: root
    password: sc379474A!
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

logging:
  level:
    tacos: WARN